.main-wrap
  .main
    .main-title
      .main-title__block
        h1.main-title__text Мои работы
        svg.underline
          use(xlink:href="assets/img/sprite.svg#line")
    .main-content
      .content-disc
        h5.content-disc__title Сайт школы онлайн образования
        svg.underline.underline-desc
          use(xlink:href="assets/img/sprite.svg#line")
        p.content-disc__skills HTML, CSS, JavaScript
        .content-disc__linkblock
          a.button(href="#")
            svg.content-disc__icon
              use(xlink:href="assets/img/sprite.svg#link")
            p.content-disc__text(href="#") Посмотреть сайт
      .content-view
        .view-focus
          img.view-focus__img(src="assets/img/loftschool.png" alt="project_img")
        .pre-view
          .view-left
            .view-small__fill
            svg.view-left__arrow
              use(xlink:href="assets/img/sprite.svg#portf_arrow_down")
            img.view-small__img(src="assets/img/loftschool.png" alt="project_img")
          .view-right
            .view-small__fill.view-small__fill-dark
            svg.view-left__arrow
              use(xlink:href="assets/img/sprite.svg#portf_arrow_up")
            img.view-small__img(src="assets/img/loftschool.png" alt="project_img")