.posts-wrap
  aside.posts-menu
    ul.posts-menuitems
      li.posts-menu__item
        a(href="#" data-post = 0).posts-menu__link.active Самое важное в SASS
      li.posts-menu__item
        a(href="#" data-post = 1).posts-menu__link Приёмы в вёрстке, без которых не обходится ни один сайт
      li.posts-menu__item
        a(href="#" data-post = 2).posts-menu__link Самый необходимый набор Gulp плагинов
      li.posts-menu__item
        a(href="#" data-post = 3).posts-menu__link Почему я выбрал Jade
  .posts
    .post.active
      h3.post__title Самое важное в SASS
      p.post__date 18.09.2014
      .post__text
        p.
          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания
          по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель
          организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель
          организационной деятельности играет важную роль в формировании систем массового участия.
        p.
          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания
          по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель
          организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель
          организационной деятельности играет важную роль в формировании систем массового участия.
      img(src='assets/img/blogpost.jpg' alt="blogpost").post__picture
    .post
      h3.post__title Приёмы в вёрстке, без которых не обходитсяни один сайт
      p.post__date 18.09.2014
      .post__text
        p.
          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания
          по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель
          организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель
          организационной деятельности играет важную роль в формировании систем массового участия.
        p.
          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания
          по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель
          организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель
          организационной деятельности играет важную роль в формировании систем массового участия.
    .post
      h3.post__title Самый необходимый набор Gulp плагинов
      p.post__date 18.09.2014
      .post__text
        p.
          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания
          по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель
          организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель
          организационной деятельности играет важную роль в формировании систем массового участия.
        p.
          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания
          по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель
          организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель
          организационной деятельности играет важную роль в формировании систем массового участия.
    .post
      h3.post__title Почему я выбрал Jade
      p.post__date 18.09.2014
      .post__text
        p.
          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания
          по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель
          организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель
          организационной деятельности играет важную роль в формировании систем массового участия.
        p.
          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания
          по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель
          организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель
          организационной деятельности играет важную роль в формировании систем массового участия.