header.header
  .header-wrapper
    .dark-block
    .logo-wrapper.logo-wrapper-blog
      .logo.logo-blog
        .logo-img
          img.logo-img__item(src='assets/img/myphoto.png' alt="logo")
        .main-title__block.main-title__block-blog
          h1.main-title__text БЛОГ
          svg.underline
            use(xlink:href="assets/img/sprite.svg#line")
          h5.logo__subtext Статьи, которые я написал
    .Background
      canvas.Background-canvas
    include trianglies_blog