html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }
  @media (max-width: 1920px) {
    html, body {
      font-size: 16px; } }
  @media (max-width: 900px) {
    html, body {
      font-size: 14px; } }
  @media (max-width: 568px) {
    html, body {
      font-size: 13px; } }

body {
  height: auto; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.wrapper {
  min-height: 100%;
  width: 100%;
  margin: 0 auto; }
  .wrapper:after {
    content: '';
    display: block;
    height: 185px; }

.skill__level {
  height: 115px;
  width: 115px;
  fill: none;
  stroke-width: 20px; }

.preloader-svg {
  height: 80px;
  width: 80px;
  margin: auto; }

.preloader__wave1, .preloader__wave2, .preloader__wave3 {
  stroke-dasharray: 56 40;
  stroke-dashoffset: 0;
  -webkit-animation: wave1 2s linear infinite;
          animation: wave1 2s linear infinite; }

.preloader__wave2 {
  stroke-dasharray: 56 40;
  stroke-dashoffset: 16;
  -webkit-animation: wave2 2s linear infinite;
          animation: wave2 2s linear infinite; }

.preloader__wave3 {
  stroke-dasharray: 56 40;
  stroke-dashoffset: 32;
  -webkit-animation: wave3 2s linear infinite;
          animation: wave3 2s linear infinite; }

@-webkit-keyframes wave1 {
  to {
    stroke-dashoffset: -96; } }

@keyframes wave1 {
  to {
    stroke-dashoffset: -96; } }

@-webkit-keyframes wave2 {
  to {
    stroke-dashoffset: -80; } }

@keyframes wave2 {
  to {
    stroke-dashoffset: -80; } }

@-webkit-keyframes wave3 {
  to {
    stroke-dashoffset: -64; } }

@keyframes wave3 {
  to {
    stroke-dashoffset: -64; } }

.preloader__text {
  fill: #fff; }

.preloader {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #4e8839;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s; }

.preloader--close {
  opacity: 0;
  z-index: -10; }
