.contacts
  .contacts-links
    .main-title__block.main-title__subblock.contacts-links-title
      h3.main-title__text КОНТАКТЫ
      svg.underline
        use(xlink:href="assets/img/sprite.svg#line")
      .contancts-linkwrap
        a.contacts__link(href="#")
          i.fa.fa-skype.fa-2x.contacts__icon(aria-hidden="true")
          | bogdanzavoevanyy
        a.contacts__link(href="#")
          i.fa.fa-envelope.fa-2x.contacts__icon(aria-hidden="true")
          | bzavoevanyy@gmail.com
        a.contacts__link(href="#")
          i.fa.fa-phone.fa-2x.contacts__icon(aria-hidden="true")
          | +7 (982) 185-36-00
        a.contacts__link(href="#")
          i.fa.fa-map-marker.fa-2x.contacts__icon(aria-hidden="true")
          | г. Сургут, ул. Грибоедова 8
