extends ../_template

block variables
  - var title = 'About me'

block content
  include ../commons/header
  include ../commons/about/about_main
  include ../commons/about/about_contacts
  include ../commons/footer

