extends ../_template

block variables
  - var title = 'My works'
block scripts
  script(src='assets/js/webgl.js' defer)
block content
  .wrapper-works
    include ../commons/menu
    include ../commons/works/header_works
    include ../commons/works/works_main
    include ../commons/works/works_sayabout
    include ../commons/footer

