h3.admin-main__title Страница "Блог"
form.admin-main__form
    h3.form-block__title.form-block__title-blog Добавить запись
    .blog-form__block
        label.blog-form__label
            input(type="text" name="title" placeholder="Название").blog-form__input
        label.blog-form__label
            input(type="text" name="date" placeholder="Дата").blog-form__input
        label.blog-form__label
            textarea(type="text" name="content" placeholder="Содержание").blog-form__textarea
    input.form-submit(type="submit" value="Сохранить")#send-blog